@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';
@import 'themes/blue';

.App {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

.App_redisigned {
    min-height: 100vh;
    background-color: var(--bg-redesigned);
    color: var(--text-redesigned);
    font: var(--font-m-redisigned);
}

.page-content {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--card-bg);
    border-radius: 20px;
    background-color: var(--inverted-primary-color);
}
