@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";
@import "themes/blue";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.App {
    background-color: var(--bg-color);
    min-height: 100vh;
}

.page-content {
    display: flex;
}

.module-wrapper {
    padding: 40px 60px;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    width: 100%;
}
