.list {
    .img {
        object-fit: cover;
        width: 100%;
        max-height: 420px;
    }

    .textBlock {
        overflow: hidden;
        height: 72px;
    }
}

.grid {
    .card {
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        width: 240px;
        height: 350px;
    }

    .img {
        object-fit: cover;
        width: 100%;
        min-height: 140px;
        max-height: 140px;
    }

    .info {
        height: 100%;
        padding: 8px 8px 16px;
    }

    .footer {
        justify-content: flex-end;
        height: 100%;
    }

    .avatar {
        margin-left: 8px;
    }
}
