.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2 ease;

    &:hover {
        opacity: 0.9;
    }
}

.Button:disabled {
    opacity: 0.5;
}

.clear,
.clearInverted {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
}

.background {
    border: none;
    background: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    border: none;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.square {
    padding: 0;
}

.square.small {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.medium {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.large {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.small {
    font: var(--font-m);
}

.medium {
    font: var(--font-l);
}

.large {
    font: var(--font-xl);
}
