.Modal {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
}

.content {
    z-index: var(--modal-z-index);
    min-width: 30%;
    padding: 40px;
    border-radius: 3px;
    background-color: var(--bg-color);
    color: var(--primary-color);

    // transition: all 1s ease;
    // transform: scale(0.4);
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: auto;

    // .content {
    // transform: scale(1);
    // }
}

// TODO: Починить анимацию попапа
