.Sidebar {
    position: relative;
    flex-shrink: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: var(--inverted-bg-color);
    transition: width 0.2s ease;
}

.toggle {
    position: absolute;
    right: -32px;
    bottom: 32px;
    transform: rotate(180deg);
}

.items {
    margin-top: 20px;
    margin-left: 25px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .toggle {
        transform: rotate(360deg);
    }
}
