.item {
    display: flex;
}

.link {
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    width: 25px;
    margin-right: 10px;
}

.collapsed {
    .link {
        width: 0;
        opacity: 0;
        transition: none;
    }
}
