.item {
    display: flex;
}

.link {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    white-space: nowrap;
}

.iconWrapper {
    width: 25px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

.collapsed {
    .link {
        opacity: 0;
        width: 0;
        transition: none;
    }
}
