.ArticleViewSelector {
    display: flex;
    gap: 6px;
    margin-bottom: 30px;

    .selected {
        stroke: var(--secondary-color);
        stroke-width: 1.3px;
    }
}

.ArticleViewSelectorRedesigned {
    .notSelected {
        stroke: var(--hint-redesigned);
    }
}
