.InputWrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

.Input {
    padding: 8px 10px;
    width: 100%;
}

.Input:focus {
    outline: none;
}

.placeholder {
    position: absolute;
    margin-left: 10px;
    font-size: 12px;
    color: var(--secondary-color);
}

.readonly {
    .Input {
        border-color: transparent;
        background: none;
        cursor: auto;
    }
}

.label {
    width: 150px;
    font-weight: 500;
    font-size: 14px;
    color: var(--secondary-color);
}
