.InputWrapper {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.Input {
    padding: 8px 10px;
    width: 100%;
}

.Input:focus {
    outline: none;
}

.placeholder {
    position: absolute;
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}

.readonly {
    .Input {
        border-color: transparent;
        background: none;
        cursor: auto;
    }
}
