.app_blue_theme {
    --bg-color: #f4f4fb;
    --inverted-bg-color: #5e69ee;
    --primary-color: #5e69ee;
    --secondary-color: #39afea;
    --inverted-primary-color: #f4f4fb;
    --inverted-secondary-color: #39afea;

    // skeleton
    --skeleton-color: #5e69ee;
    --skeleton-background: rgb(0 0 0 / 6%);

    // --skeleton-shadow: var(--secondary-color);

    // card
    --card-bg: #e4e4f8;

    // listbox
    --listbox-bg: #e4e4f8;
}
