.Navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    padding: 0 40px;
    background-color: var(--inverted-bg-color);
}

.widgets {
    margin-left: auto;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}

.createBtn {
    opacity: 1;
}

.NavbarRedesigned {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 32px;
}
