.Navbar {
    height: var(--header-height);
    width: 100%;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 0 40px;
    gap: 30px;
}

.widgets {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
