.wrapper {
    display: flex;
    align-items: center;
}

.label {
    max-width: 150px;
    margin-right: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
}

.Select {
    padding: 5px 15px 5px 5px;
    color: var(--primary-color);
    outline: none;
}

.option {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}
