.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: underline;
        opacity: 1;

        svg {
            filter: drop-shadow(0 1px 5px rgb(255 255 255 / 40%));
        }
    }
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}

.red {
    color: red;
}
