.InputWrapper {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 8px 16px;
    border: 1.5px solid var(--icon-redesigned);
    border-radius: 48px;

    .withAddonLeft {
        padding-left: 8px;
    }

    .withAddonRight {
        padding-right: 8px;
    }

    .addonLeft,
    .addonRight {
        display: flex;
    }
}

.focused {
    border: 1.5px solid var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
        color: var(--accent-redesigned);
        stroke: var(--accent-redesigned);
    }
}

.Input {
    width: 100%;
    border: none;
    background: none;
    color: var(--text-redesigned);
    outline: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    .Input {
        border-color: transparent;
        background: none;
        cursor: auto;
    }
}
