.AppLink {
    color: var(--primary-color);
    transition: all 0.2s ease;
    text-decoration: none;
    opacity: 0.8;

    &:hover {
        svg {
            filter: drop-shadow(0 1px 5px rgb(255 255 255 / 40%));
        }

        opacity: 1;
        text-decoration: underline;
    }
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}

.red {
    color: red;
}
